
.top-menu, .bottom-menu {
  background-color: rgb(54, 54, 247);
  width: 100%;
}

.top-menu { 
  padding: 10px;
  font-size: 1.25em;
  position: fixed;
  top: 0px;
  padding: 10px;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.bottom-menu {
  position: fixed;
  bottom: 0;
  height: 7vh;
  padding: 0px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item {
  display: inline-flex;
  align-items: center;
}

.menu-title {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
}

.sidenav {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgb(17, 10, 101);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav-title, .new-city {
  padding: 8px 8px 0px 8px;
  color: white;
  font-size: 1.5em;
  font-weight: bolder;
}

.sidenav .city {
  padding: 8px 8px 8px 32px;
  font-size: 1.5em;
  color: #FFF;
  display: block;
  transition: 0.3s;
  border: 1em, solid, #ffffff;
}

.sidenav a:hover {
  color: #b8b8b8;
}

.sidenav .closebtn {
  position: absolute;
  top: 15px;
  right: 15px;
  margin-left: 50px;
  z-index: 10;
}

/* Figure out how to make the list collapse correctly. Currently doesn't bring top of scroller all the way down */
.favoritesList {
  position: absolute;
  background-color: white;
  transition: 0.5s;
  overflow: scroll;
  z-index: 5;
}

.favoritesListItem {
  font-size: 1.5em;
  margin: 10px;
  border: 1em, solid, black;
  background-color: white;
}

.leaflet-container {
  margin-top: 7vh;
  position: fixed;
  height: 90vh;
  width: 100vw;
}

.spot-icon {
  background: rgb(230, 43, 65);
  border-radius: 50%;
  box-shadow: 0px 0px 10px black;
}

.spot:after {
  display: block;
  width: 30px;
  height: 30px;
  content: "🔴";
  font-size: 1em;
}

